.DS_Store
/.idea
target/
*.iml
*.xml
/logs

serp*.json
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
*.egg-info/
.installed.cfg
*.egg
MANIFEST
dist

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version
.idea/
# celery beat schedule file
celerybeat-schedule
workspace.xml
# SageMath parsed files
*.sage.py
.idea/workspace.xml

# table
*.csv
*.xlsx
*.xls
*.tsv

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

data/

*api_server_log.txt
*streamlit_log.txt

*coshipping_data.log

output*

*tmp.json
*.db
*.zip

model/*
models/*
meili_data*

eval/results/*.json

test.py

/script

.vscode

/deploy

# venv
venv/
venv*/
examples/*
# scripts
security_report.json
README_CI_CD.md
DEPLOYMENT_GUIDE.md
*.doc
*.docx
*.ppt
*.pptx
*.pdf
*.txt
*.csv

