python-dotenv
minio
loguru
tqdm
oss2
python-docx
openai
jionlp
beautifulsoup4
ebooklib
chardet
python-pptx
premailer
openpyxl
pymupdf
langchain_community
setuptools
tiktoken
markitdown
pandas
xlrd
tabulate
unstructured
markdown
